<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="animation" type="text/js" href="payments.js">
  </head>
<body>
    <header>
        <div class="topnav">
            <nav>
                <ul>
                    <li><img src="" class="logo" alt="Logo"></li>
                
                
                    <li><a href="Website homepage.html">Home</a></li>
                    <div class="dropdown">
                      <button class="dropbtn">Event Information
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Poha.html">Sports</a>
                        <a href="Upma.html">Birthday</a>
                        <a href="Dhokla.html">Relation related evernts</a>
                        
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Calendar of Events
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Parathas.html">Calendar</a>
                        
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Seating Map
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Roti.html">Seating map </a>
                        
                        
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Booking 
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Paymentform/payments/templates/reviews/transactions.html">Booking</a>
                        
                      </div>
                    </div>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Ticket Order Successful!</h1>
    <div class="message">
        Thank you for your purchase! Your tickets have been booked successfully.
    </div>
    
        <button id="home">Return to Home</button>
        <button id="reorder">Order More Tickets</button>

    <script>
        document.getElementById('home').addEventListener('click', function() {
            window.location.href = '/'; // Replace with the actual home page URL
        });

        document.getElementById('reorder').addEventListener('click', function() {
            window.location.href = '/payments';
        });
    </script>
</body>
</html>
