<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Ticket Order successful</h1>
</head>
<body>
        
        <button type="home">Return to Home</button>
        <button type="re-order">Order more tickets</button>
    </form>

</body>
</html>

{% comment %} 
Things to change

1) add functionality to the 2 buttons
2) delete this page if u want and make it redirect to home directly or something idk

{% endcomment %}
