<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Info Form</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="script" type="text/js" href="payments.js">
  </head>
<body>
    <header>
        <div class="topnav">
            <nav>
                <ul>
                    <li><img src="" class="logo" alt="Logo"></li>
                
                
                    <li><a href="Website homepage.html">Home</a></li>
                    <div class="dropdown">
                      <button class="dropbtn">Event Information
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Poha.html">Sports</a>
                        <a href="Upma.html">Birthday</a>
                        <a href="Dhokla.html">Relation related evernts</a>
                        
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Calendar of Events
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Parathas.html">Calendar</a>
                        
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Seating Map
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Roti.html">Seating map </a>
                        
                        
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Booking 
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="Paymentform/payments/templates/reviews/transactions.html">Booking</a>
                        
                      </div>
                    </div>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Enter Your Payment and Contact Details</h1>

    <form action="/" method="POST">
        {% csrf_token %}
        
        <h2>General Information<h2/>
        <!-- Render form fields dynamically (based on forms.py) -->
        {{ form.name.label_tag }}
        {{ form.name }}

        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.phone_number.label_tag }}
        {{ form.phone_number }}

        <h2>Ticket Booking Information<h2/>

        {{ form.ticket_num.label_tag }}
        {{ form.ticket_num }}

        {{ form.address1.label_tag }}
        {{ form.address1 }}

        {{ form.address2.label_tag }}
        {{ form.address2 }}

        {{ form.zip_code.label_tag }}
        {{ form.zip_code }}

        {{ form.country.label_tag }}
        {{ form.country }}

        {{ form.card_num.label_tag }}
        {{ form.card_num }}

        {{ form.expiration.label_tag }}
        {{ form.expiration }}

        {{ form.security_code.label_tag }}
        {{ form.security_code }}
        
        <button type="submit">Complete transaction ($5)</button>
    </form>
</body>
</html>

{% comment %}
Things that might need editing

1) Make the message when hovering over text field be different if u want to (idk how html works that well yet)
2) Make it so that the submit button multiplies number of tickets booked by cost of 1 ticket ($5 for now; right now the submit button shows only $5)

Cool Ideas

1) Make there be a horizantal line after all the form filling stuff that updates the total and shows how much tax and extra charges there are
2) Make the General information and payment information sections of the form collapsable for more organization

 {% endcomment %}